<%- include('./include/admin-headlink'); %>
<%- include('./include/admin-navside'); %>
<%- include('./include/admin-header'); %>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">NO</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">price</th>
                        <th scope="col">Image</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(function(data,index) { %>
                      <tr>
                        <th><%= index+1 %></th>
                        <th><%= data.name %> </th>
                        <th><%= data.category %> </th>
                        <th><%= data.description %> </th>
                        <th><%= data.price %> </th>
                        <!-- <img style="width:50px; height: 50px" src="/product-images/<%= data.image[0] %>" alt="" id="imgView"> -->

                        <th><img style="width:50px; height: 50px" src="/product-images/<%= data.image[0] %>" alt="" id="imgView">
                        </th>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>

