<%- include('./include/admin-headlink'); %>
    <%- include('./include/admin-navside'); %>
        <%- include('./include/admin-header'); %>



            <div class="container" id="pdf">
                <div class="m-2" >
                    <a href=""  onclick="printDiv('pdf','title')" class="btn btn-danger">Print</a>
    
                </div>
                <div class="row">
                    <table class="table" id="salesData">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Date</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Profit</th>
                                <th scope="col">Order</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% salesreport.forEach(function(report,index){ %>
                                <tr>
                                    <th scope="row"><%=index+1%></th>
                                    <td><%= report._id%></td>
                                    <td><%= report.sales%></td>
                                    <td><%= report.sales*20/100%></td>
                                    <td><%= report.order%></td>
                                </tr>
                             <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>


            <script>
                var doc = new jsPDF();
          
          
                function printDiv(divId,
                  title) {
          
                  let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');
          
                  mywindow.document.write(`<html><head><title>${title}</title>`);
                  mywindow.document.write('</head><body >');
                  mywindow.document.write(document.getElementById(divId).innerHTML);
                  mywindow.document.write('</body></html>');
          
                  mywindow.document.close(); // necessary for IE >= 10
                  mywindow.focus(); // necessary for IE >= 10*/
          
                  mywindow.print();
                  mywindow.close();
          
                  return true;
                }
             </script>