<%- include('./include/admin-headlink'); %>
    <%- include('./include/admin-navside'); %>
        <%- include('./include/admin-header'); %>

            

            <div class="container mt-4 " id="pdf">
                <div class="m-2" >
                    <a href=""  onclick="printDiv('pdf','title')" class="btn btn-danger">Print</a>
    
                </div>

                <table class="table table-bordered" id="salesData" >
                    <thead>
                        <tr>
                            <th>OrderId</th>
                            <th>Address</th>
                            <th>Payment</th>
                            <th>Cost</th>
                            <th>Bill AMT</th>
                            <th>Profit</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% salesreport.forEach(function(report){ %>
                
                            <tr>
                                <td><%=report._id %></td>
                                <td>
                                    
                                          <%=report.deliveryAddress[0].name%><br>
                                        
                                              <%=report.deliveryAddress[0].city%>,
                                                  <%=report.deliveryAddress[0].state%><br>
                                                    <%=report.deliveryAddress[0].zip%><br>
                                                      <%=report.deliveryAddress[0].phoneNo%>
                       
                                </td>
                                <td><%= report.paymentType%></td>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>mary@example.com</td>
                                <td>Mary</td>
                                <td><%= report.status%></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <script>
                var doc = new jsPDF();
          
          
                function printDiv(divId,
                  title) {
          
                  let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');
          
                  mywindow.document.write(`<html><head><title>${title}</title>`);
                  mywindow.document.write('</head><body >');
                  mywindow.document.write(document.getElementById(divId).innerHTML);
                  mywindow.document.write('</body></html>');
          
                  mywindow.document.close(); // necessary for IE >= 10
                  mywindow.focus(); // necessary for IE >= 10*/
          
                  mywindow.print();
                  mywindow.close();
          
                  return true;
                }
             </script>