<%- include('./include/admin-headlink'); %>
  <%- include('./include/admin-navside'); %>
    <%- include('./include/admin-header'); %>


    
      <div class="container mt-4">
        <div class="row">

          <div class="row">
            <div class="col-md-3 stretch-card grid-margin">
              <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                  <h4 class="font-weight-normal mb-3">Total Orders
                    <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5">
                    <%=totalorder%>
                  </h2>
                  <h6 class="card-text"></h6>
                </div>
              </div>
            </div>
            <div class="col-md-3 stretch-card grid-margin">
              <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">

                  <h4 class="font-weight-normal mb-3">Active User <i
                      class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5">
                    <%=userCount%>
                  </h2>
                  <h6 class="card-text"></h6>
                </div>
              </div>
            </div>
            <div class="col-md-3 stretch-card grid-margin">
              <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">

                  <h4 class="font-weight-normal mb-3">Net Sale<i class="mdi mdi-diamond mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5">Rs: <%=totalsales%>
                  </h2>
                  <h6 class="card-text"></h6>
                </div>
              </div>
            </div>

            <div class="col-md-3 stretch-card grid-margin">
              <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">

                  <h4 class="font-weight-normal mb-3">Products<i class="mdi mdi-diamond mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5">
                    <%=productCount%>
                  </h2>
                  <h6 class="card-text"></h6>
                </div>
              </div>
            </div>
          </div>

        </div>




        <div class="container">
          <div class="row">
            <div class="col-md-6 mt-4">
              <div>
                <canvas id="myChart"></canvas>
              </div>

            </div>
            <div class="col-md-6 mt-4">
              <div>
                <canvas id="myChart2"></canvas>
              </div>

            </div>

          </div>

        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12 mt-4">
              <div>
                <canvas id="myChart3"></canvas>
              </div>
            </div>
          </div>
        </div>



        <div class="m-5">
          <a href="/admin/salesReport" class="btn btn-success">sales report</a>
        </div>

      </div>


      <%- include('./include/admin-footer'); %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>


          const data = {
            labels: [
              'Cancel Order',
              'Active Order',


            ],
            datasets: [{
              label: 'My First Dataset',
              data: ['<%=cancelOrder%>', '<%=activeOrder%>'],
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',

              ],
              hoverOffset: 4
            }]
          };
          const config1 = {
            type: 'doughnut',
            data: data,
          }
          const myChart = new Chart(
            document.getElementById('myChart'),
            config1
          );
        </script>

        <!-- ////////////////////////////////chart to -->
        <script>
          const data2 = {
            labels: [
              'cancelled',
              'pending',
              'placed',
              'delivered',
              'shipped'
            ],
            datasets: [{
              label: 'My First Dataset',

              data: ['<%=cancelOrder%>', '<%=pending%>', '<%=placed%>', '<%=delivered%>', '<%=shipped%>'],
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(75, 192, 192)',
                'rgb(255, 205, 86)',
                'rgb(201, 203, 207)',
                'rgb(54, 162, 235)'
              ]
            }]
          };

          const config2 = {
            type: 'polarArea',
            data: data2,
            options: {}
          };
          const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config2
          );
        </script>


        <!-- //bar chart -->

        <script>
          
          const labels = [
            'Monday',
            'Tuesday',
            'Wednesday',
            'Thursday',
            'Friday',
            'Saturday',
            'Sunday'
          ];
          const data3 = {
            labels: labels,
            datasets: [{
              label: 'My First dataset',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: ['<%=salesData[0]%>', '<%=salesData[1]%>', '<%=salesData[2]%>', '<%=salesData[3]%>', '<%=salesData[4]%>', '<%=salesData[5]%>', '<%=salesData[6]%>'],

            }]
          };



          const config3 = {
            type: 'line',
            data: data3,
            options: {}
          };

          const myChart3 = new Chart(
            document.getElementById('myChart3'),
            config3
          );
        </script>