<%- include('./include/user-head'); %>
  <%- include('./include/user-header'); %>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>

    <body>
      <div class="container">
        <div class="py-5 text-center ">
          <% if (address[0]){%>
          <div class="row">

            <% address[0].address.forEach(function(adrs,index) { %>
              <div class="col-md-3">
                <!-- <div class="col-md-12 mb-2" id=""> -->
                <div class="jumbotron shadow  bg-white rounded p-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fa-solid fa-location-dot"></i></h5>
                      <address class="card-text">
                        <%=adrs.name%> <br>
                          <%=adrs.phoneNo%><br>
                            <%=adrs.city%><br>
                              <%=adrs.country%>, <%=adrs.state%> <br>,pincode : <%=adrs.zip%><br>

                      </address>
                      <button class="btn btn-outline-dark"
                        onclick="fillForm(' <%=JSON.stringify(adrs)%>','<%=index%>')">Use the Address</button>
                      <!-- <button data-bs-toggle="modal" data-placement="top" data-bs-target="#exampleModa"><i class="bi bi-pen"></i></button> -->

                      <a href="#" onclick="deleteAdddress('<%=index%>')" data-toggle="tooltip" data-placement="top"
                        title="Delete"><i class="bi bi-trash ml-5"
                          style="font-size: 1.2rem; color: rgb(255, 0, 0);"></i></a>

                    </div>
                  </div>
                </div>
                <!-- </div> -->
              </div>
              <% }); %>
          </div>

          <%}%>
        </div>
        <div class="row" >
          <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Your cart</span>
            
            </h4>
            <ul class="list-group mb-3 sticky-top">
              <% prod.products.forEach(function(prod) { %>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">
                      <%= prod.name %>
                    </h6>
                    <small class="text-muted">
                      <%= prod.quantity %>
                    </small>
                  </div>
                  <span class="text-muted">
                    <%= prod.price*prod.quantity%>
                  </span>
                </li>
                <% }); %>
                  <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                      <h6 class="my-0">Promo code</h6>
                      <small id="codestate"></small>
                    </div>
                    <span id="disc" class="text-success">-$0</span>
                  </li>

                  <!-- <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <div  class="row" id="coupondiv">
                      <strong id="total"><%# prod.total %></strong>
                    </div>
                  </li> -->

                  <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <div  class="row" id="coupondiv">
                      <strong id="discount"><%= prod.total %></strong>
                    </div>
                  </li>
            </ul>

            <div class="">

              <form class="card p-2 " id="coupon-form-submit">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Promo code" id="c-code">
                  <div class="input-group-append">
                    <button type="submit" class="btn"  style="background-color:rgb(150, 180, 222)  ;">Redeem</button>
                  </div>
                </div>
              </form>

            </div>
            
          </div>
          <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <!-- action="/payment" method="post" -->
            <form class="needs-validation" id="checkout-form-submit">
              <div class="row">
                <div class=" mb-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="" value="" required="">
                  <div class="invalid-feedback"> Valid first name is required. </div>
                </div>

              </div>

              <div class="mb-3">
                <label for="email">PhoneNo </label>
                <input type="phone" class="form-control" id="phoneNo" placeholder="9876543210" name="phoneNo">
                <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
              </div>
              <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St"
                  required="">
                <div class="invalid-feedback"> Please enter your shipping address. </div>
              </div>
              <div class="mb-3">
                <label for="address2">City </label>
                <input type="text" class="form-control" name="city" id="city" placeholder="Apartment or suite">
              </div>

              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="state">country</label>
                  <input type="text" name="country" class="form-control" id="country" placeholder="country">
                  <div class="invalid-feedback"> Please provide a valid state. </div>
                </div>

                <div class="col-md-5 mb-3">
                  <label for="country">State</label>
                  <input type="text" name="state" class="form-control" id="state" placeholder="state">
                  <div class="invalid-feedback"> Please select a valid state. </div>
                </div>

                <div class="col-md-3 mb-3">
                  <label for="zip">Zip</label>
                  <input type="text" name="zip" class="form-control" id="zip" placeholder="" required="">
                  <div class="invalid-feedback"> Zip code required. </div>
                </div>
              </div>
              <hr class="mb-4">

              <hr class="mb-4">
              <h4 class="mb-3">Payment</h4>
              <div class="d-block my-3">

                <div class="custom-control custom-radio">
                  <!-- <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required=""> -->
                  <input type="radio" name="payment" id="debit" value="cod">Cash on delivery<br>
                </div>

                <div class="custom-control custom-radio">
                  <!-- <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required=""> -->
                  <input type="radio" name="payment" id="paypal" value="online">online payment<br>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback"> Name on card is required </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                  <div class="invalid-feedback"> Credit card number is required </div>
                </div>
              </div> -->
              <!-- <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                  <div class="invalid-feedback"> Expiration date required </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-cvv">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                  <div class="invalid-feedback"> Security code required </div>
                </div>
              </div> -->
              <hr class="mb-4">
              <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer m-4" 
                type="submit">Continue to checkout</button>
            </form>
          </div>
        </div>

      </div>
    </body>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict'

        window.addEventListener('load', function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation')

          // Loop over them and prevent submission
          Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
              }
              form.classList.add('was-validated')
            }, false)
          })
        }, false)
      }())
    </script>

    <script>
      $("#checkout-form-submit").submit((e) => {
        e.preventDefault()
        console.log('heyyyyyyyyyyy')
        $.ajax({
          url: '/cartpayment',
          method: "post",
          data: $('#checkout-form-submit').serialize(),
          success: (Response) => {
            if (Response.codStatus) {
              console.log("first if in cod")
              location.href = "/order-confirmed"
            } else {
              razorpayPayment(Response)
              console.log('else in payment ')
              console.log(Response)
              // location.href="/viewUserOrders"
            }
          }
        })
      })
      function razorpayPayment(order) {
        var options = {
          "key": "rzp_test_myCywIJrMg3Vbs", // Enter the Key ID generated from the Dashboard
          "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "Hamrix",
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "handler": function (response) {
            // alert(response.razorpay_payment_id);
            // alert(response.razorpay_order_id);
            // alert(response.razorpay_signature)

            verifyPayment(response, order)
          },
          "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
          },
          "notes": {
            "address": "Razorpay Corporate Office"
          },
          "theme": {
            "color": "#3399cc"
          }
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
      }

      function verifyPayment(payment, order) {
        $.ajax({
          url: '/verify-payment',
          data: {
            payment,
            order
          },
          method: 'post'
        })
      }
    </script>

    <script>
      function fillForm(responsee, index) {

        let response = JSON.parse(responsee)
        document.getElementById('name').value = response.name
        document.getElementById('phoneNo').value = response.phoneNo
        document.getElementById('address').value = response.address
        document.getElementById('city').value = response.city
        document.getElementById('state').value = response.state
        document.getElementById('country').value = response.country
        document.getElementById('zip').value = response.zip

      }

    </script>

    <script>
      function deleteAdddress(addressIndex) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes!'
        }).then((result) => {
          if (result.isConfirmed) {

            $.ajax({

              url: '/deleteAddress/' + addressIndex,
              method: 'post',
              success: (response) => {
                Swal.fire({
                  title: 'ok!',
                  text: 'file has been deleted.',
                  icon: 'success',
                  showConfirmButton: false
                })
                setTimeout(() => {
                  location.reload()
                }, 1000);
              }
            })
          }

        })
      }


      $("#coupon-form-submit").submit((e) => {
        let couponValue = document.getElementById('c-code').value
        console.log('masood')
        console.log(couponValue)
        e.preventDefault()
        $.ajax({
          url: '/checkCoupon/'+couponValue,
          method: 'post',
          success: (response) => {
            if (response.status) {
              // console.log(`descount: ${response.couponDiscount},    price: ${response.cartPrice}`)

              // document.getElementById("disc").innerHTML = response.couponDiscount;
              // document.getElementById("total").innerHTML = response.cartPrice;
              // $("#coupondiv").load(location.href + "#coupondiv");
              document.getElementById('disc').innerText='-$'+response.discountPrice
              document.getElementById('discount').innerText=''+response.totalamount
              document.getElementById('codestate').innerText='coupon applied successfully'

            } else if(response.used){
              document.getElementById('codestate').style.color='red'
              document.getElementById('codestate').innerText='coupon already used'

            }else if(response.expired){
              document.getElementById('codestate').style.color='red'
              document.getElementById('codestate').innerText='sorry coupon is expired'

            }else if(response.noMatch){
              document.getElementById('codestate').style.color='red'
              document.getElementById('codestate').innerText='sorry coupon is invalied'

            }
            
          }
        })
      })


    </script>

    <script>

    </script>


    <%- include('./include/user-footer'); %>
      <%- include('./include/user-script'); %>